@page
@model IndexModel
@{
    ViewData["Title"] = "Tutorial Hub";
}

<div class="text-center">
    <h2>Stream Tutorials</h2>
</div>
<div>
    @{
        foreach (var item in Model.Data.Tutorials.Stream)
        {
        <button class="accordion">@item.Title</button>
        <div class="panel">
            @Html.Raw(item.Description)
            <iframe src="@item.Iframe" width="80%" height="640" allowfullscreen frameborder="0"></iframe>
        </div>
        }  
    }
</div>


