@page
@model IndexModel
@{
    ViewData["Title"] = "Tutorial Hub";
}

<div class="text-center">
    <h2>Stream Tutorials</h2>
</div>
<div>
    <button class="accordion">
        Standard delivery/collection Rental
    </button>
    <div class="panel">
        <p>
            To create a standard one-time "rental", load up your instance of Stream.<br />
            For for this example, we'll use the <a href="https://yph-stream-dev.azurewebsites.net/" target="_blank">YPH dev slot</a>.
        </p>
        <p>
            Now follow these steps:</a>.
        </p>
        <iframe src="https://scribehow.com/embed/Create_New_Orders_and_Manage_Order_Summary_Efficiently__Y6YLIgrPTfKvFVqQCzomKA?skipIntro=true" width="80%" height="640" allowfullscreen frameborder="0"></iframe>
    </div>

    <button class="accordion">
        Change Over Rentals
    </button>
    <div class="panel">
        <p>
            When a container/skip is delivered to a customer on a regular occurance it's classed as a "change-over":
            <ul>
                <li>A skip is delivered</li>
                <li>A driver collects it at a later date and drops off a new one at the same time</li>
                <li>The process is repeated until the customer no longer requires the service.</li>
            </ul>
        </p>
        <p>
            To create a "change over", load up your instance of Stream.<br />
            For for this example, we'll use the <a href="https://yph-stream-dev.azurewebsites.net/" target="_blank">YPH dev slot</a>.
        </p>
        <p>
            Now follow these steps:</a>.
        </p>

        <iframe src="https://scribehow.com/embed/Create_New_Orders_and_Manage_Order_Summary_Efficiently__Y6YLIgrPTfKvFVqQCzomKA?skipIntro=true" width="80%" height="640" allowfullscreen frameborder="0"></iframe>
    </div>
</div>


